.hero {
    h1 {
        font-size: $heading-size-1;
        font-weight: 700;
        color: $amir-color-black;
    }

    p {
        font-size: $body-size-1;
        font-weight: 500;
        color: $amir-color-grey;
    }

}