// Color
$amir-color-black : #1D1D1D;
$amir-color-soft-grey : #E5E5E5;
$amir-color-blue : #2E19C4;
$amir-color-grey : #474747;
$amir-color-green : #219653;
$amir-color-orange : #F26440;
$amir-color-white : #FFFFFF;

// Header Size
$heading-size-1 : 64px;
$heading-size-2 : 48px;
$heading-size-3 : 34px;
$heading-size-4 : 24px;
$heading-size-5 : 20px;

// Body Size
$body-size-1 : 18px;
$body-size-2 : 16px;
$body-size-3 : 14px;